
.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2rem;
  width: 100%;
  
  ul {
    margin:  0 0 1rem 0; 
    padding: 0;
    list-style: none;
    font-size: $font-size-small;
    
    li {
      margin-left: 0; 
      list-style: none;
    }
    
  }

  ._member-survey-keeper {
    display: flex;
    gap: 2rem;

    margin: 0.25rem 0;

    button {
      flex: 1;

      align-items: center;
      padding: 0.15rem;

      &._member-survey-keeper-left {
        justify-content: flex-start;
      }

      &._member-survey-keeper-center {
        justify-content: center;
      }

      &._member-survey-keeper-right {
        justify-content: flex-end;
      }
    }
  }
}

.admin-widget-container._full-width {
  width: 70%;
}

.admin-widget-container._overflow-scroll {
  max-height: 90vh;
  overflow-y: scroll;
}

._widget_container {
  padding-bottom: 0.3rem;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  margin-bottom: 0.5rem;
}

.survey.validation {
  width: 100%;
  max-width: 100%;
  .apptr__form {
    /*background: rgba(255,255,255,1);*/
    /*border: 1px solid rgba(0,0,0,0.1);*/
    max-width: 100%;
    margin: 0 auto;
  }
  .apptr__form-container {
    border: 1px solid white;
  }
  .survey-label__container, .survey-input__container, .apptr__form-input-container {
    padding: 0.1rem !important;
  }
  .input-map {
    height: 200px !important;
  }

  label, .apptr__form__label-standalone {
    font-size: $font-size-small !important;
  }
}

.admin__interview-stats {
  h4 {
    margin-top: 1rem;
    font-weight: 700;
    opacity: 0.7;
  }
}

._widget {
  display: inline-block;
  color: inherit;
  border-right: 1px solid rgba(0,0,0,0.1);
  padding-right: 0.3rem;
  margin-right: 0.6rem;
  &._active {
    color: blue !important;
    font-weight: 700;
  }
  img {
    opacity: 0.65;
    height: 1.3rem;
    margin-bottom: -0.1rem;
    margin-right: 1px;
    &.faIconLeft {
      margin-right: 0.2rem;
    }
  }
  .svg-inline--fa {
    height: 1.5rem;
    margin-right: 1px;
  }
  .faIconLeft {
    margin-left: 0;
    margin-right: 0.2rem;
    .svg-inline--fa {
      margin-right: 0.2rem;
    }
  }
 

}

._scrollable {
  max-height: 12rem;
  overflow: auto;
  border: 1px dashed rgba(0,0,0,0.1);
  padding: 0.3rem;
}

.admin__interview-map-and-stats-container {
  display: flex;
  .admin__interview-map-container {
    width: 50%;
    
  }
  .admin__stats-container {
    width: 50%;
    padding: 1rem;
  }
}

.admin__interview-map {
  margin-bottom: 1rem;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 0 0 8px 0;
  width: 100%;
  height: 700px;
  resize: vertical;
  overflow: auto;
}

.admin-widget-container {
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255,255,255,1.0);
  margin: 0 1rem 1rem 0;
  font-size: $font-size-small;
}

.mapboxgl-popup {
  opacity: 0.5;
  padding: 0.1rem;
  color: rgba(255,255,255,1.0);
  font-weight: 700;
  .mapboxgl-popup-tip {
    display: none;
  }
  .mapboxgl-popup-content {
    background: rgba(0,0,0,1.0);
    padding: 0.1rem;
    border: 1px solid rgba(255,255,255,0.5);
  }
}

.userTable {
    flex-direction: column
}

table {
    border-spacing: 0;
    border: 1px solid black;

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      :last-child {
        border-right: 0;
      }

      input {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        border: 0;
      }
    }
}

.pagination {
    padding: 0.5rem;
}