@use "settings";

.apptr__form-auth {
    max-width: 40rem;
    min-width: settings.$desktop-breakpoint;
    margin: 0 auto;
}

.apptr__auth-box .apptr__form-auth {
    max-width: 100% !important;
    min-width: 0 !important;
    margin: 0;
    padding: 0;
}

.apptr__auth-box .apptr__form-container {
    margin: 0;
    padding: 0;
}

.apptr__auth-box .apptr__form-label-container {
    text-align: left;
}


.apptr__footer-link-container {
    text-align: center;
}  
