@use "settings";

header {
    background: settings.$overlay-black;
    height: 1.8em;
    border-bottom: 1px solid settings.$black-pale;

    .header__content {
        font-size: settings.$font-size-small;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding: settings.$xxs-size;

        // Ensures the title text in the top navigation bar doesn't overflow
        h1 {
            opacity: 0.6;
            margin: 0;
            width: 100%;
            font-size: settings.$font-size-small;
            font-weight: 300;
            white-space: nowrap;
            /* Prevents the text from wrapping to the next line */
            overflow: hidden;
            /* Hides the overflow text */
            text-overflow: ellipsis;
            /* Adds an ellipsis to indicate hidden text */

            // Adjusts on smaller screens
            @media (max-width: 600px) {
                max-width: 130px;
            }

            // Adjusts on larger screens
            @media (min-width: 600px) {
                max-width: 300px;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            margin: 0;
        }

        li {
            display: flex;
        }
    }

    .header__title {
        color: settings.$dark-blue;
        text-decoration: none;
    }

    .menu {
        background: settings.$overlay-black;
        position: absolute;
        list-style-type: none;
        margin-top: 30px;
        padding: 20px;
        right: 0;
        border: 1px solid settings.$black-pale;
        z-index: 1000;
    }

    // Hide the user name in the top header
    #item-nav-user {
        display: none;
    }
}