@use "settings";

.react-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,1.0);
  padding: settings.$s-size;
  border: 5px solid rgba(0,0,0,0.5);
  border-radius: 2rem;
  line-height: 1.1;
  z-index: 1000;
  @media only screen and (max-width: settings.$desktop-breakpoint) and  (min-width: settings.$modal-breakpoint) {
    width: 80%;
    left: 10%;
    transform: translate(0, -50%);
    min-width: 320px;
  }
  @media only screen and (max-width: settings.$modal-breakpoint) {
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
    min-width: 320px;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 0;
  }

  strike, del {
    color: settings.$red;
    text-decoration: none;
    font-weight: 700;
  }

  strong {
    color: settings.$green;
  }

  em {
    color: settings.$orange;
  }

  &:focus {
    outline: none;
  }

}

.Select-input, .Select-menu-outer, .Select-value, .Select-value-label, .Select-placeholder {
  * {
    font-size: settings.$font-size-small;
  }
  font-size: settings.$font-size-small;
}


.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 500;
}