@use "settings";

.form {
    display: flex;
    flex-direction: column;

    >* {
        margin-bottom: settings.$m-size;
    }
}

.survey {
    margin-top: -1.8em;
    //border-top: 1px solid $black-pale;
    /*background-image: url(/dist/images/ornaments/ornament_wide_bottom_pale.svg), url(/dist/images/ornaments/ornament_flower_points_pale.svg);
    background-size: 12rem, 6rem;
    background-position: center 1.8em, 90% 100.5%;
    background-repeat: no-repeat, no-repeat;*/
    background-image: url(../../assets/images/ornaments/ornament_flower_points_pale.svg);
    background-size: 6rem;
    background-position: 90% 100.5%;
    background-repeat: no-repeat;
    padding: 2em 0 12rem 0;
    display: flex;
    align-items: top;
    justify-content: center;
    flex: 1;
    min-height: 100vh; // this is to force the second background to be at the bottom of the window when the section height is smaller

    &.validation {
        margin-top: 0;
        background: none;
        padding: 1em 0 1rem 0;
        min-height: inherit;
    }

    // Should display 2 background images, one of which will be defined dynamically
    &.survey-with-logo {
        background-image: var(--dynamic-logo-image), url(../../assets/images/ornaments/ornament_flower_points_pale.svg);
        background-size: 15rem, 6rem;
        background-position:
            left 1rem bottom 1rem,
            right 1rem top 100.5%;
        background-repeat: no-repeat, no-repeat;
    }

    .apptr__form {
        /*background: rgba(255,255,255,1);*/
        /*border: 1px solid rgba(0,0,0,0.1);*/
        max-width: 100rem;
        margin: 0 auto;
    }

    .ornament_bottom {
        padding-bottom: 3rem;
        background: linear-gradient(to right,
                rgba(0, 0, 0, 0) 0,
                settings.$black-pale 30%,
                settings.$black-pale 70%,
                rgba(0, 0, 0, 0) 100%),
            url(../../assets/images/ornaments/ornament_wide_bottom_pale.svg);
        background-size:
            100% 1px,
            12rem;
        background-position:
            left bottom 2.4rem,
            center bottom 1px;
        background-repeat: no-repeat, no-repeat;
        margin-bottom: 1rem;
    }

    h2 {
        width: 100%;
        text-align: center;
        font-weight: 300;
        color: settings.$dark-pale;
        font-size: settings.$font-size-xlarge;
        padding: 0;
        margin: 0;
    }

    h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 2.5rem;
        margin-bottom: 1rem;
        background: linear-gradient(to right,
                rgba(0, 0, 0, 0) 0,
                settings.$black-pale 30%,
                settings.$black-pale 70%,
                rgba(0, 0, 0, 0) 100%),
            url(../../assets/images/ornaments/ornament_wide_bottom_pale.svg);
        background-size:
            100% 1px,
            12rem;
        background-position:
            left top,
            center top 1px;
        background-repeat: no-repeat, no-repeat;
    }

    h3 {
        width: 100%;
        text-align: center;
        font-weight: 300;
        color: settings.$dark-pale;
        font-size: settings.$font-size-large;
        padding: 0;
        margin: 0;
    }

    h3::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        margin-bottom: 0.5rem;
        background: linear-gradient(to right,
                rgba(0, 0, 0, 0) 0,
                rgba(0, 0, 0, 0) 20%,
                settings.$black-pale 40%,
                settings.$black-pale 60%,
                rgba(0, 0, 0, 0) 80%,
                rgba(0, 0, 0, 0) 100%);
        background-size: 100% 1px;
        background-position: left top;
        background-repeat: no-repeat;
    }

    .survey-group-object {
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .survey-group-object+.survey-group-object {
        margin-top: -1rem;
    }

    .survey-group-object__title {
        div {
            display: 'flex';
            justify-content: 'center';
            align-items: 'center';
        }
    }

    .survey-section__content {
        width: 100%;
        padding: 0 settings.$s-size;

        @media only screen and (min-width: settings.$desktop-breakpoint) {
            padding: 0 settings.$l-size;
        }

        // For SectionProgressBar.tsx
        .survey-section__progress-bar {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;

            // Draw the progress bar as a circle
            .circular-progress {
                width: 100px;
                height: 100px;

                .bg {
                    fill: none;
                    stroke: settings.$button-grey-gradient-top; // Background circle color
                }

                .fg {
                    fill: none;
                    stroke: settings.$blue; // Foreground (progress) circle color
                    stroke-linecap: round;
                    transform: rotate(-90deg);
                    transform-origin: center;
                }

                .percentage-text {
                    font-size: settings.$font-size-xlarge;
                    font-weight: 700;
                    dominant-baseline: middle; // Vertical alignment
                }

                .completed-text {
                    font-size: settings.$font-size-small;
                    font-weight: 300;
                    dominant-baseline: middle; // Vertical alignment
                }
            }
        }
    }

    .survey-section-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        .nav-button {
            color: settings.$dark-pale;
            font-size: settings.$font-size-medium;
            font-weight: 700;
            line-height: 1;
            text-decoration: none;
            padding: 0 0.5rem;
            margin: 0 0;
            background: none;
            display: inline-block;
            border: none;
        }

        .completed-section {
            color: settings.$green;
        }

        .active-section,
        .active-section.completed-section {
            color: settings.$blue;
        }
    }

    .survey-info-map__map-container {
        margin-bottom: 1rem;
    }

    .infoMap-title p {
        margin-bottom: 0;
        text-align: center;
    }

    .big-text {
        font-size: settings.$font-size-xlarge;
        color: black;
        font-weight: 700;
    }

    // For survey page container (Unavailable page, Not found page, etc.)
    .survey-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;

        .survey-page-title {
            // Reset all the style from H2
            all: unset;
            display: block;
            color: inherit;

            // Style the title
            font-weight: 700;
            font-size: settings.$font-size-xlarge;
            margin: settings.$m-size;
            text-align: left;
            width: 100%;
        }

        h2.survey-page-title::after {
            // Reset all the style from H2::after
            display: none;
            content: none;
            background: none;
        }

        .survey-page-image {
            max-width: 300px;
            margin: 2em;
        }
    }

    .survey-visited-places-list-and-map-container,
    .survey-trips-list-and-map-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: settings.$desktop-breakpoint) {
            display: block;
        }

        .survey-visited-places-list,
        .survey-trips-list {

            @media only screen and (max-width: settings.$desktop-breakpoint) {
                margin-right: 0;
            }

            width: 50%;
            margin-right: 2rem;

            &.full-width {
                width: 100%;
                margin-right: 0;
            }

            @media only screen and (max-width: settings.$desktop-breakpoint) {
                width: 100%;
            }
        }

        .survey-visited-places-map,
        .survey-trips-map {
            width: 50%;

            &.full-width {
                width: 100%;
            }

            @media only screen and (max-width: settings.$desktop-breakpoint) {
                width: 100%;
            }
        }

        .survey-visited-place-item-description {
            @media only screen and (max-width: settings.$desktop-breakpoint) {
                max-width: 80%;
            }
        }
    }

    .survey-visited-place-item {
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 0.4rem;
        background: rgba(0, 0, 0, 0.04);
    }

    .survey-visited-place-item,
    .survey-trip-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: settings.$font-size-medium;
        width: 100%;
        margin: 0;

        @media only screen and (max-width: settings.$desktop-breakpoint) {
            flex-flow: row wrap;
        }

        .survey-visited-place-item-element,
        .survey-trip-item-element {
            display: flex;
            align-items: center;
        }

        .survey-trip-item-origin-description,
        .survey-trip-item-destination-description {
            width: 45%;
        }

        &.survey-visited-place-item-selected {
            background-color: rgba(31, 59, 107, 0.1);
            border-color: rgba(28, 58, 109, 0.20);
        }

        &.survey-trip-item-name {
            padding: 0.2rem 0.4rem 0 0.4rem;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            background: rgba(0, 0, 0, 0.04);
        }

        &.survey-trip-item-description {
            padding: 0 0.4rem 0.2rem 0.4rem;
            background: rgba(0, 0, 0, 0.04);
        }

        &.survey-trip-item-mode-icons {
            padding: 0.4rem;
            background: rgba(0, 0, 0, 0.04);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            margin-bottom: 0.4rem;
        }

        &.survey-trip-item-selected {
            background-color: rgba(40, 88, 170, 0.2);
        }

        &.survey-trip-item-selected.survey-trip-item-name {
            border-top: 1px solid rgba(7, 67, 171, 0.6);
        }

        &.survey-trip-item-selected.survey-trip-item-mode-icons {
            border-bottom: 1px solid rgba(7, 67, 171, 0.6);
        }
    }

    .survey-visited-place-item-buttons,
    .survey-trip-item-buttons {
        margin-left: auto;
        text-align: right;
    }

    .survey-visited-place-item-icon-container {
        margin: 0.1rem 0.5rem;
    }

    .survey-visited-places-schedules {
        width: 100%;

        .survey-visited-places-schedule-person-container {
            width: 100%;

            p {
                margin-top: 0.3em;
                margin-bottom: 0;
                font-style: oblique;
            }

            .survey-visited-places-schedule-person {
                width: 100%;
                position: relative;
                height: 2em;
                // Note: url path assumed relative to compiled CSS or handled by bundler
                background: rgba(115, 147, 184, 0.5) url(~evolution-frontend/lib/assets/images/interface_icons/carret-right-white.svg);
                background-size: 1.2em 1.2em;
                background-repeat: repeat-x;
                background-position: center left;

                .survey-visited-places-schedule-visited-place {
                    position: absolute;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    background: rgba(255, 255, 255, 1.0);
                    height: 2em;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    z-index: 1;

                    p {
                        margin-bottom: 0;
                        margin-top: 0;
                    }

                    .survey-visited-places-schedule-visited-place-icon {
                        text-align: center;
                    }

                    &:hover,
                    &:active,
                    &:focus {
                        min-width: 10em;
                        height: 4em;
                        z-index: 2;
                    }
                }

                .survey-visited-places-schedule-visited-place.hand-cursor-on-hover:hover {
                    cursor: pointer;
                }
            }
        }
    }
}