@use "settings";

.show-for-mobile {
    @media only screen and (min-width: settings.$desktop-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
    @media only screen and (max-width: settings.$desktop-breakpoint - .01rem) {
    display: none;
  }
}